/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
        margin:0;
        padding:0;
        border:0;
        font-size:100%;
        font:inherit;
        vertical-align:baseline
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
        display:block
}

body {
        line-height:1
}

ol,ul {
        list-style:none
}

blockquote,q {
        quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
        content:'';
        content:none
}

table {
        border-collapse:collapse;
        border-spacing:0
}

html {
        font-family:‘Open Sans’,sans-serif
}

.container-fluid {
        margin:5%
}

#profile {
        max-width:25%;
        max-height:25%;
        padding:5%
}

.intro {
        margin-top:5%
}

p {
        font-weight:200;
        font-size:22px;
        line-height:1.5;
        margin-bottom:3%
}

h1 {
        font-weight:600;
        font-size:36px;
        display:block;
        padding-bottom:3%;
        border-bottom:1px solid rgba(0,0,0,0.2)
}

h2 {
        font-size:24px;
        padding-bottom:3%;
        padding-top:3%;
        text-align:center
}

a:hover {
        cursor:pointer;
        text-decoration:none;
        color:#1B69C9
}

.footer {
        font-size:12px;
        text-align:center
}

.case-study {
        position:relative;
        display:block;
        width:100%;
        margin-top:3em;
/*	margin-bottom: -1rem;*/
        padding:1rem 2rem;
        border:2px solid #1B69C9;
        border-radius:15px;
        background-color:#FFF;
        text-align:center;
        cursor:pointer;
        color:#1B69C9;
        font-weight:600;
        font-size:22px
}

.case-study:hover {
        text-decoration:none;
        color:#fff;
        background-color:#1B69C9;
        transition:background-color .3s ease;
        transition:color 1s ease
}